/* For All Screens */
@media screen {
    .logo {
        height: 8vh;
        width: 8vw;
    }
    .item {
        border-radius: 13px;
        background-color: var(--l-bg-1);
        padding: 2vh 2vw;
        margin-bottom: 4vh;
    }
    p, ul, li {
        font-family: 'Times New Roman';
    }
    li {
        margin-bottom: 1vh;
    }
    details {
        cursor: pointer;
        width: max-content;
        position: fixed;
        background-color: var(--l-bg-0);
    }
    #scrollable-content > div {
        display: none;
        margin-top: 33%;
    }
    #scrollable-content > div[active] {
        display: block;
    }
    .header {
        position: fixed;
        width: 100%;
        background-color: var(--l-bg-0);
        top:0;
    }
    #fixed-content hr {
        margin-top: 12%;
        margin-bottom: 0;
    }
}

/*  For all mobile screens */
@media screen and (max-width: 820px) {

}

/*  For all mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: portrait) {

}

/*  For all mobile screens in landscape mode*/
@media screen and (max-width: 820px) and (orientation: landscape){

}

/* For all desktop */
@media screen and (min-width: 820px) {
    #fixed-content {
        padding: 1em;
    }
    #fixed-content hr {
        margin-top: 6%;
        margin-bottom: 0;
    }
    #scrollable-content > div {
        display: none;
        margin-top: 15%;
    }
}
/* For Desktop and landscape oriented mobile screens */
@media screen and (min-width: 820px), (max-width: 820px) and (orientation: landscape ) {

}

/* For all hovering capable screens */
@media (hover: hover) {
    details option:hover {
        background-color: var(--l-bg-1);
    }
}