li {
  margin-bottom: 1vh;
}

ol.char {
  list-style: lower-alpha;
}
table {
  align-self: center;
  border-width: 3px;
  border-style:solid;
  width: 70%;
}
th {
  background-color: yellow;
}

tr {
  padding: 1vh 0;
  text-align: center;
}

section table tr:nth-child(even) {
  background-color: #FFF;
}
section .col-flex {
  text-align: center;
}

/* pc */
@media screen and (min-width: 820px) {
  img {
    width: 50%;
  }
  table {
    width: 50%;
  }
}