#main-content {
  display: block;
}
#contact-flex {
  display: flex;
  justify-content: space-around;
}
#google-maps {
  width: 50%;
}
#google-maps iframe {
  height: 100%;
  width: 100%;
}
#contact-info {
  padding: 20px;
  background-color: #dee4e7;
  border-radius: 2%;
}
.clearfix {
  clear: both;
}
h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

/*  Mobile screens */
@media screen and (max-width: 820px) {
  #contact-flex {
    flex-direction: column;
  }
  #main-content {
    height: 100%;
  }
  #google-maps {
    height: 100%;
    width: 100%;
  }
  #google-maps iframe {
    height: 400px;
    width: 100%;
  }
}

/*  Mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: portrait) {
}

/*  Mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: landscape) {
}

/*  Desktops */
@media screen and (min-width: 820px) {
}
/* For Desktop and landscape oriented mobile screens */
@media screen and (min-width: 820px),
  (max-width: 820px) and (orientation: landscape) {
}

/* Hovering capable screens. */

@media (hover: hover) {
}
