:root {
    --yellow: yellow;
    --black: black;
    --bg: #18191A;
    --white: white;
}
body {
    margin: 0;
    font-size: 1.2rem;
    background-color: var(--bg);
    column-gap: 2vw;
}
#navbar {
    display: flex;
    flex-direction: column;
    top:0;
    position: fixed;
    height: 100%;
    padding: 4vh 2vw;
    row-gap: 2vh;
}
#navbar img {
    width: 10vmax;
    height: 10vmax;
}
#main-content {
    display: flex;
    flex-direction: column;
    align-self: center;

    min-height: 100vh;
    padding: 2vh 2vw;
    color: white;
    gap: 30vh 2vw; /* Adjust first value later */
    margin-left: 18vw;
}
a {
    text-decoration: none;
    color: var(--yellow);
}
.container {
    background-color: white;
}
#navbar a:hover {
    color: white;
}