/* For All Screens */
@media screen {

}

/*  For all mobile screens */
@media screen and (max-width: 820px) {

}

/*  For all mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: portrait) {

}

/*  For all mobile screens in landscape mode*/
@media screen and (max-width: 820px) and (orientation: landscape){

}

/* For all desktop */
@media screen and (min-width: 820px) {

}
/* For Desktop and landscape oriented mobile screens */
@media screen and (min-width: 820px), (max-width: 820px) and (orientation: landscape ) {

}

/* For all hovering capable screens */
@media (hover: hover) {

}